{{ define "main" }}
  {{ range .Pages }}
    <article class="post">
      <div class="post-header">
        <a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <div class="post-meta">
          <span class="meta-item">{{ .Date.Format "2006-01-02" }}</span>
          <em></em>
          <span class="meta-item">{{ partial "reading-time.html" . }} min read</span>
        </div>
      </div>
      <div class="post-desc">{{ partial "post-excerpt.html" (dict "page" . "truncate" (default 200 $.Site.Params.summaryTruncate)) }}</div>
    </article>
  {{ end }}
{{ end }}
