<footer class="footer">
  <div class="footer-inner">
    <p>
      <a href="{{ "/categories/" | relURL }}">分类</a><em>·</em>
      <a href="{{ "/tags/" | relURL }}">标签</a><em>·</em>
      <a href="{{ "/archives/" | relURL }}">归档</a><em>·</em>
      <a href="{{ "/links/" | relURL }}">友链</a><em>·</em>
      <a href="{{ "/about/" | relURL }}">关于</a><em>·</em>
      <span>&copy; {{ now.Format "2006" }} {{ .Site.Params.siteTitle }}</span>
    </p>
  </div>
</footer>
<div class="fixed-btn">
  <a class="btn-gotop" href="#top" aria-label="返回顶部">↑</a>
</div>
