<div id="nav">
  <nav class="nav-menu">
    <a class="site-name" href="{{ .Site.BaseURL }}" title="{{ .Site.Params.siteTitle }}">{{ .Site.Params.siteName }}</a>
    {{ range .Site.Menus.main }}
      {{ $active := or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) }}
      <a href="{{ .URL | relURL }}" class="{{ if $active }}current{{ end }}">
        <span class="icon">{{ partial "icon.html" .Identifier }}</span>
        <span class="title">{{ .Name }}</span>
      </a>
    {{ end }}
  </nav>
</div>
