<div id="nav">
  <nav class="nav-menu">
    <a class="site-name" href="{{ .Site.BaseURL }}" title="{{ .Site.Params.siteTitle }}">{{ .Site.Params.siteName }}</a>
    {{ range .Site.Menus.main }}
      {{ $active := or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) }}
      <a href="{{ .URL | relURL }}" class="{{ if $active }}current{{ end }}">
        <span class="icon">{{ partial "icon.html" .Identifier }}</span>
        <span class="title">{{ .Name }}</span>
      </a>
    {{ end }}
  </nav>
</div>
<div class="nav-user">
  <button class="btn-search" type="button" aria-label="Search">{{ partial "icon.html" "search" }}</button>
  <button class="btn-read-mode" type="button" aria-label="Toggle theme" data-mode="day">
    <span class="mode-sun">{{ partial "icon.html" "sun" }}</span>
    <span class="mode-moon">{{ partial "icon.html" "moon" }}</span>
  </button>
</div>
