<div class="page-title">
  <ul>
    <li class="{{ if .IsHome }}active{{ end }}"><a href="{{ "/" | relURL }}">最新</a></li>
    <li><a href="#" class="explore-link" data-action="explore">随便看看</a></li>
    <li class="page-search">
      <form id="search" method="get" action="{{ "/search/" | relURL }}" role="search">
        <label for="q" class="sr-only">搜索</label>
        <input type="text" name="q" id="q" class="text" placeholder="搜索文章" />
        <button type="submit" class="submit" title="搜索">{{ partial "icon.html" "search" }}</button>
      </form>
    </li>
  </ul>
</div>
